.pagination-bar {
  display: flex;
  gap: 1rem;
  background-color: inherit;
}

.pagination-btn {
  border: none;
  background: none;
  font-size: 0.875rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 0.15rem;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, opacity 0.3s;
}

.pagination-btn:hover {
  background-color: var(--primary-hover-color);
}

.pagination-btn:disabled {
  cursor: not-allowed;
  background-color: transparent;
}

.pagination-btn.current-page {
  background-color: var(--secondary-color);
  color: var(--black);
}

.first-page,
.previous-page,
.next-page,
.last-page {
  color: var(--primary-color);
  font-size: 1.25rem;
}

.first-page:disabled,
.previous-page:disabled,
.next-page:disabled,
.last-page:disabled {
  opacity: 0.6;
}

@media (max-width: 650px) {
  .pagination-bar {
    gap: 0rem;
    width: 100%;
    justify-content: space-around;
  }
}
