table,
th,
td {
  border-collapse: collapse;
  /* border: 2px solid grey; */
}

th,
td {
  text-align: start;
  padding: 0.5em 4em;
  /* vertical-align: middle; */
}

td:nth-child(4){
  text-transform:capitalize;
}

.button-group {
  display: flex;
  gap: 1em;
}
