table,
th,
td {
  border-collapse: collapse;
  /* border: 2px solid grey; */
}

th,
td {
  text-align: start;
  padding: 0.5em 4em;
  /* vertical-align: middle; */
}

.button-group {
  display: flex;
  gap: 1em;
}
