.app {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  padding-inline: clamp(2rem, 3vw + 1rem, 10rem);
  padding-block: clamp(1rem, 2vh + 0.5rem, 10rem);
  background-color: var(--body-bg-color);
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media (max-width: 650px) {
  .app {
    padding:0rem
  }
}